<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Register</title>

    <!-- Bootstrap Core CSS -->
    <link href="/resources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link href="/resources/vendor/metisMenu/metisMenu.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="/resources/dist/css/sb-admin-2.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="/resources/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Register</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" th:action="@{/register}" th:object="${user}">
                            <fieldset>
                                <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? has-error">
                                    <input class="form-control" th:field="*{name}" placeholder="Name" type="text" />
                                    <div th:errors="*{name}" class="control-label"></div>
                                </div> 
                                <div class="form-group" th:classappend="${#fields.hasErrors('surname')} ? has-error">
                                    <input class="form-control" th:field="*{surname}" placeholder="Surname" type="text" />
                                    <div th:errors="*{surname}" class="control-label"></div>
                                </div> 
                                <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? has-error">
                                    <input class="form-control" th:field="*{email}" placeholder="Email" type="email"/>
                                    <div th:errors="*{email}" class="control-label"></div>
                                </div> 
                                <div class="form-group" th:classappend="${#fields.hasErrors('password') || #fields.hasErrors('global')} ? has-error">
                                    <input class="form-control" th:field="*{password}" placeholder="Password" type="password"/>
                                    <div th:errors="*{password}" class="control-label"></div>
                                </div>
                                <div class="form-group" th:classappend="${#fields.hasErrors('*{passwordRepetition}') || #fields.hasErrors('global')} ? has-error">
                                    <input class="form-control" th:field="*{passwordRepetition}" placeholder="Repeat password" type="password"/>
                                    <div th:errors="*{passwordRepetition}" class="control-label"></div>
                                    <div th:errors="*{global}" class="control-label"></div>
                                </div> 
                                <button type="submit" class="btn btn-lg btn-success btn-block">Register</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="${pageContext.request.contextPath}/resources/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="${pageContext.request.contextPath}/resources/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="${pageContext.request.contextPath}/resources/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="${pageContext.request.contextPath}/resources/dist/js/sb-admin-2.js"></script>

</body>

</html>
